@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#parser-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
}

#time-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* background-color: #555; */
  color: #999;
  /* height: 10vh;
  width: 100%; */
  z-index: 9999;
}

.time-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #888; */
  padding: 0.25rem;
  margin: 0.5rem;
  /* width: 40px; */
}

.time-zone span.tz {
  font-weight: bold;
  /* font-size: 1.25rem; */
  font-size: 2.75vh;
  margin-bottom: -3px;
}

.time-zone span.tz-city {
  font-size: 1.5vh;
}

.time-zone span.tz-time {
  font-size: 2vh;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 212, 212);
  padding: 1rem;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 40%);
  border: 1px rgb(172, 172, 172) solid;
  height: 60vh;
  width: 40vw;
}

form textarea {
  height: 500px;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

form button {
  color: #888;
  padding: 0.5rem 1rem;
}

.btn {
  cursor: pointer;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  font-weight: bold;
  color: rgba(153, 153, 153, 0.336);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 999;
}

.xml-structure {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 0.8rem;
}

.checkbox-label {
  color: #555;
}

#newline {
  width: 12px;
  transform: translateY(10%);
}

#container-title {
  font-size: 1.15rem;
  font-family: "Cairo", sans-serif;
  color: #555;
}
