@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 212, 212);
  padding: 1rem;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 40%);
  border: 1px rgb(172, 172, 172) solid;
  height: 60vh;
}

form textarea {
  height: 500px;
  width: 500px;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

form button {
  color: #888;
  padding: 0.5rem 1rem;
}

.message {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(240, 240, 240); */
  height: 60vh;
  width: 150px;
  font-size: 5rem;
  color: #999;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  transition: all 0.5s ease-in-out;
  transform: translateX(120%);
  /* transform: translateX(220%); */
  /* z-index: 999; */
}

.xml-structure {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 0.8rem;
}

.checkbox-label {
  color: #555;
}

#newline {
  width: 12px;
  transform: translateY(10%);
}

#container-title {
  font-size: 1.15rem;
  font-family: "Cairo", sans-serif;
  color: #555;
}
