@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap");


#parser-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


#parser-container form {
  background-color: rgba(2, 53, 100, 0.555);
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 30px;
  width: 550px;
}

form textarea {
  height: 30vh;
  min-height: 10vh;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

form textarea:focus {
  outline: none;
}

form button {
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(68, 201, 235, 0.781);
}

form button:hover {
  background-color: rgba(235, 232, 68, 0.979);
  color: rgb(59, 163, 189);
}

form button:active {
  transform: scale(0.95);
}



.btn {
  cursor: pointer;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(235, 232, 68, 0.979);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 99999;
}

#container-title {
  display: flex;
  justify-content: flex-start;
  font-size: 1.15rem;
  font-family: "Cairo", sans-serif;
  color: rgb(255, 255, 255);
}
